{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt3">About Fort Smythe</h1>
            <hr>
            <p>
                <img class="d-inline-block float-end img-responsive p-2" style="max-width: 400px;"
                    src="/static/images/outside.png">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita vero nostrum atque nisi, nihil
                repellat. Vitae harum nulla optio corrupti eligendi, necessitatibus, consequatur, recusandae nisi ipsam
                odio ipsa enim rerum!
                Praesentium asperiores tenetur ut, aliquid dolores hic quo excepturi explicabo accusamus eos nam
                similique commodi, enim molestias amet? Odit quaerat rem sequi! Explicabo veritatis ab dolore
                exercitationem nisi natus quae.
                Culpa quasi ea eos ad veritatis itaque eaque, fugit aliquam nobis repellendus animi deserunt nulla
                adipisci ipsa aliquid expedita quod repellat quisquam illum modi? Expedita sunt veniam in ea blanditiis.
            </p>
            <p>
                Doloremque quibusdam praesentium facere, beatae, laborum dolor placeat dicta nihil veniam expedita
                necessitatibus vel et! Sit velit, est, quam cum saepe quas rerum vero libero eos ipsa autem temporibus
                voluptatem!
                Laudantium voluptate blanditiis enim quisquam quo eveniet vel labore sequi, omnis recusandae expedita
                officiis repellat debitis? Perferendis atque neque enim numquam at, ex molestiae doloremque, nulla
                voluptatem aliquid voluptates placeat.
                Quam vero fugit placeat harum a numquam et facilis, quae saepe? Consequatur eligendi dolor tempora
                temporibus est expedita facilis corporis eveniet, enim ullam placeat perspiciatis nam, ut doloribus,
                repudiandae dignissimos.
                Dolorem perspiciatis aut nulla sequi! Qui commodi molestiae necessitatibus dolorum nesciunt dolore
                expedita,
                ratione eaque ipsam mollitia libero veritatis rerum, maxime deleniti maiores est eum at ipsa recusandae
                nihil repellendus.
                Delectus ut minima vitae sapiente iusto aliquam beatae ipsa commodi error odio fugiat nemo assumenda
                soluta
                nisi, blanditiis quae, unde itaque sint maiores magnam alias. Soluta ex architecto recusandae
                consequuntur?
                Ullam beatae repudiandae quo amet. Iste impedit, magni iure nostrum perspiciatis doloribus possimus
                repellendus error sed quibusdam, voluptatibus, porro deleniti earum? Omnis, odio. Nobis qui corporis
                accusantium perspiciatis aperiam obcaecati.
                In, vel cumque? Quos, fuga. Inventore assumenda ipsam atque ratione nostrum! Itaque facilis libero
                obcaecati
                maxime dignissimos voluptatibus velit veniam ullam suscipit cumque unde, nisi earum deserunt
                exercitationem
                quae blanditiis!
            </p>
        </div>
    </div>
</div>
{{end}}