{{template "admin" .}}

{{define "page-title"}}
    Reservations Calendar
{{end}}

{{define "content"}}
<div class="row">
    <div class="col-md-12">
        <p>This is a secure page</p>
    </div>
</div>
{{end}}
