{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <h1>Make reservation</h1>
        <h6>Enter reservation details</h6>
        <form action="" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label class="form-label" for="first-name">First name</label>
                <input required type="text" class="form-control" id="first-name" name="first-name"
                    autocomplete="off">
            </div>
            <div class="mb-3">
                <label class="form-label" for="last-name">Last name</label>
                <input required type="text" class="form-control" id="last-name" name="last-name" autocomplete="off">
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input required type="email" class="form-control" id="email" name="email" autocomplete="off">
            </div>
            <div class="mb-3">
                <label class="form-label" for="phone-number">Phone number</label>
                <input required type="phone" class="form-control" id="phone-number" name="phone-number"
                    autocomplete="off">
            </div>
            <hr>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Make reservation</button>
            </div>
        </form>
    </div>
</div>
{{end}}
