{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <h1 class="mt-5">Search for Availability</h1>

            <form action="/search-availability" method="POST" novalidate
                class="needs-validation mt-5">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <div id="reservation-dates" class="row row-cols g-3 align-items-center">
                    <div class="col mb-3">
                        <input type="text" class="form-control" id="start-date" name="start"
                            aria-describedby="startDateHelp" placeholder="Arrival" required>
                    </div>
                    <div class="col mb-3">
                        <input type="text" class="form-control" id="end-date" name="end" aria-describedby="endDateHelp"
                            placeholder="Departure" required>
                    </div>
                </div>
                <div class="row gx-3">
                    <div class="col mb-3">
                        <button type="submit" class="btn btn-primary">Search Availability</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<script>
    // Date Picker for reservations
    const elem = document.getElementById('reservation-dates');
    const rangepicker = new DateRangePicker(elem, {
        format: 'yyyy-mm-dd',
        minDate: new Date(),
    });
</script>
{{end}}